
<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>回答列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input"></div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table" lay-data="{url:'/question/getAnswerReply',page:true,toolbar: '#toolbarDemo',id:'test'}" lay-filter="test">
                        <thead>
                        <tr >
                            <th lay-data="{fixed:'left',type:'checkbox',align:'center'}">ID</th>
                            <th lay-data="{field:'questionId', width:80, sort: true,align:'center'}">问题ID</th>
                            <th lay-data="{field:'userId',align:'center'}">回答用户ID</th>
                            <th lay-data="{field:'answerId',align:'center'}">回答信息表的ID</th>
                            <th lay-data="{field:'replyContent',align:'center'}">回答内容</th>
                            <th lay-data="{field:'createTime',align:'center',templet: '#cTimeTpl'}">创建时间</th>
                            <th lay-data="{field:'updateTime',align:'center',templet: '#uTimeTpl'}">更新时间</th>
                            <th lay-data="{field:'isDelete',templet:'#isDelete',align:'center'}">状态</th>
                            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="barDemo">
    <a lay-event="del" title="删除"  href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
    </a>
    <a lay-event="forbid" title="禁用"   href="javascript:;">
        <i class="icon iconfont">&#xe69a;</i>
    </a>
    <a lay-event="activate" title="激活"  href="javascript:;">
        <i class="icon iconfont">&#xe6ad;</i>
    </a>
    <!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="forbid">禁用</a>-->
    <!--    <a  class="layui-btn layui-btn-xs" lay-event="activate">激活</a>-->
    <!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>
<script type="text/html" id="toolbarDemo">
    <div class = "layui-btn-container" >
        <button class = "layui-btn layui-btn-sm" lay-event = "getCheckData" > 获取选中行数据 </button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button >
        <button class = "layui-btn layui-btn-sm" lay-event = "isAll" > 验证是否全选</button>
    </div >
</script>
<script type="text/html" id="cTimeTpl">
    {{#
    var parseDate= function(date){
    if(date){
    var t=new Date(date);
    return t.getFullYear()+"-"+(t.getMonth()+1)+"-"+t.getDate()+" "+t.getHours()+":"+t.getMinutes();
    }
    }
    }}
    {{parseDate(d.createTime)}}
</script>
<script type="text/html" id="uTimeTpl">
    {{#
    var parseDate= function(date){
    if(date){
    var t=new Date(date);
    return t.getFullYear()+"-"+(t.getMonth()+1)+"-"+t.getDate()+" "+t.getHours()+":"+t.getMinutes();
    }
    }
    }}
    {{parseDate(d.updateTime)}}
</script>
<script type="text/html" id="isDelete">
                  {{#  if(d.isDelete === 0){ }}
    <span  class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                  {{#  } else { }}
                        <span  class="layui-btn-disabled layui-btn layui-btn-normal layui-btn-mini">已停用</span>
                  {{#  } }}
</script>
<script>layui.use(['laydate','from'],
    function() {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

</script>
<script>layui.use('table',
    function() {
        var table = layui.table;

        //监听单元格编辑
        table.on('edit(test)',
            function(obj) {
                var value = obj.value //得到修改后的值
                    ,
                    data = obj.data //得到所在行所有键值
                    ,
                    field = obj.field; //得到字段
                layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
            });

        //头工具栏事件
        table.on('toolbar(test)',
            function(obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;
                };
            });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'forbid'){
                layer.confirm('确定禁用该追问吗?', {icon: 3, title:'提示'}, function(index){
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/question/reply/forbidAnswer/"+data.id ,
                        success: function(msg){

                            layer.msg(msg.message, {time: 2000},function(){

                                layer.close(index);
                                window.location.reload();
                            });
                        }
                    });
                });
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: ""+data.id,
                        success: function(msg){
                            layer.msg(msg.message, {time: 2000},function(){
                                layer.close(index);
                                window.location.reload();
                            });
                        }
                    });
                });
            } else if(layEvent === 'activate'){
                layer.confirm('确定激活该追问吗?', {icon: 3, title:'提示'}, function(index){
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/question/reply/activateAnswer/"+data.id ,
                        success: function(msg){
                            layer.msg(msg.message, {time: 2000},function(){
                                layer.close(index);
                                window.location.reload();
                            });
                        }
                    });
                });
            }
        });
    });

</script>
<script>
    function addwind() {
        layer.open({
            type:2,
            title: '添加',
            shadeClose: true,
            shade: false,
            area: ['893px', '600px'],
            content: '/activity/addactivity',
            end:function(index) {

                layer.close(index);
                window.location.reload();
            }

        });
    }
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>

</html>

