<!doctype html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>国风社区</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/index">国风社区</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="/logout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/index">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('用户列表','/user/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('用户金币列表','/user/userCoin')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户金币列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('用户反馈','/user/userFeedBack')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户反馈</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">

                    <li>
                        <a onclick="xadmin.add_tab('会员列表','/vip/viplist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('会员等级','/vip/vipkind')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员等级</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('支付信息','/vip/vippay')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>支付信息</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="勋章管理">&#xe723;</i>
                    <cite>勋章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('勋章列表','/medal/medallist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>勋章列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="国风管理">&#xe723;</i>
                    <cite>国风管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('国风列表','/wind/windlist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>国风列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('国风详情','/wind/windDetails')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>国风详情</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="标签管理">&#xe723;</i>
                    <cite>标签管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('标签列表','/tag/taglist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>标签列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="等级管理">&#xe723;</i>
                    <cite>等级管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('等级列表','/rank/ranklist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>等级列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="金币管理">&#xe723;</i>
                    <cite>金币管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('金币兑换率','/coin/price')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>金币兑换率</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="广告管理">&#xe723;</i>
                    <cite>广告管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('广告列表','/advertisement/adverlist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>广告列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="活动管理">&#xe723;</i>
                    <cite>活动管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('活动列表','/activity/activitylist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>活动列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('活动详情','/activity/activityDetailslist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>活动详情</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="帖子管理">&#xe723;</i>
                    <cite>帖子管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('帖子列表','/article/articlelist')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>帖子列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('帖子点击量','/article/articleClickStat')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>帖子点击量</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('帖子详情','/article/articleDetails')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>帖子详情</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('禁用的帖子','/article/articleReport')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>禁用的帖子</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('帖子点赞量','/article/articleZan')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>帖子点赞量</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="评论管理">&#xe723;</i>
                    <cite>评论管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('评论详情','/article/articleComment')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论详情</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('评论的回复','/article/articleReply')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论的回复</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('评论的赞','/article/commentZan')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论的赞</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="问答管理">&#xe723;</i>
                    <cite>问答管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('问题列表','/question/questionList')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>问题列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('回答列表','/question/questionAnswer')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>回答列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('追问列表','/question/answerReply')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>追问列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('问题的赞','/question/questionZan')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>问题的赞</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('追问的赞','/question/answerZan')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>追问的赞</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('问题的点击量','/question/questionClick')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>问题的点击量</cite></a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script>//百度统计可去掉
var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>